@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300..800&family=Roboto:wght@400;500;700&display=swap');

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
}
